<style type="text/css">footer a{border-bottom:none!important}</style>
<nav id="top">
  <div class="container">

    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li class="menu-item"><a href="https://katrinsnellartist.co.uk/index.php?route=common/home">Back to Store</a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="logo"><a href="https://katrinsnellartist.co.uk/index.php?route=common/home"><img src="https://katrinsnellartist.co.uk/image/catalog/logo.png" title="Katrin Snell | Pet Portrait and Wildlife Artist" alt="Katrin Snell | Pet Portrait and Wildlife Artist" class="img-responsive" /></a></div>
      </div>
      <div class="content_headercms_top"></div>

    </div>
  </div>
</header>
<nav class="nav-container" role="navigation">
  <div class="nav-inner">
    <div class="container">
      <!-- ======= Menu Code START ========= -->
      <!-- Opencart 3 level Category Menu-->
      <div id="menu" class="main-menu">
        <div class="nav-responsive"><span>Menu</span><div class="expandable"></div></div>

        <ul class="main-navigation">
          <li class="menu-item"><a href="https://katrinsnellartist.co.uk/index.php?route=common/home">Back to Store</a></li>
          <!-- <li><a href="/blog/">Blog</a></li> -->
          <li><a href="https://katrinsnellartist.co.uk/index.php?route=information/information&information_id=8">Events</a></li>
          <li><a href="https://katrinsnellartist.co.uk/index.php?route=information/information&information_id=10">Press</a></li>
          <li><a href="https://katrinsnellartist.co.uk/index.php?route=information/contact">Contact</a></li>
        </ul>

      </div>
    </div>
  </div>
</nav>